# OSX
.DS_Store

# Eureka-service
eureka-service/.idea/
eureka-service/*.iml
eureka-service/*.iws
eureka-service/Projet.iml
eureka-service/.DS_Store

eureka-service/log/
eureka-service/target/

eureka-service/src/main/resources/*

# Taches-service
taches-service/.idea/
taches-service/*.iml
taches-service/*.iws
taches-service/Projet.iml
taches-service/.DS_Store

taches-service/log/
taches-service/target/

taches-service/src/main/resources/*

# Personnes-service
personnes-service/.idea/
personnes-service/*.iml
personnes-service/*.iws
personnes-service/Projet.iml
personnes-service/.DS_Store

personnes-service/log/
personnes-service/target/

personnes-service/src/main/resources/*
