# OSX
.DS_Store

# Eureka-service
eureka-service/.idea/
eureka-service/*.iml
eureka-service/*.iws
eureka-service/Projet.iml
eureka-service/.DS_Store
eureka-service/.classpath
eureka-service/.project
eureka-service/.settings/*

eureka-service/log/
eureka-service/target/

eureka-service/src/main/resources/*

# Taches-service
taches-service/.idea/
taches-service/*.iml
taches-service/*.iws
taches-service/Projet.iml
taches-service/.DS_Store
taches-service/.classpath
taches-service/.project
taches-service/.settings/*

taches-service/log/
taches-service/target/

taches-service/src/main/resources/*

# Personnes-service
personnes-service/.idea/
personnes-service/*.iml
personnes-service/*.iws
personnes-service/Projet.iml
personnes-service/.DS_Store
personnes-service/.classpath
personnes-service/.project
personnes-service/.settings/*

personnes-service/log/
personnes-service/target/

personnes-service/src/main/resources/*

# OAuth-service
oauth-service/.idea/
oauth-service/*.iml
oauth-service/*.iws
oauth-service/Projet.iml
oauth-service/.DS_Store
oauth-service/.classpath
oauth-service/.project
oauth-service/.settings/*

oauth-service/log/
oauth-service/target/

oauth-service/src/main/resources/*

# Monitor-service
monitor-service/.idea/
monitor-service/*.iml
monitor-service/*.iws
monitor-service/Projet.iml
monitor-service/.DS_Store
monitor-service/.classpath
monitor-service/.project
monitor-service/.settings/*

monitor-service/log/
monitor-service/target/

monitor-service/src/main/resources/*

# Spring-boot-admin-service
spring-boot-admin-service-service/.idea/
spring-boot-admin-service-service-service/*.iml
spring-boot-admin-service-service-service/*.iws
spring-boot-admin-service-service-service/Projet.iml
spring-boot-admin-service-service-service/.DS_Store
spring-boot-admin-service-service-service/.classpath
spring-boot-admin-service-service-service/.project
spring-boot-admin-service-service-service/.settings/*

spring-boot-admin-service-service-service/log/
spring-boot-admin-service-service-service/target/

spring-boot-admin-service-service-service/src/main/resources/*
